# dependencies
node_modules/
.pnpm-store/

# turbo
.turbo/

# expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# metro
.metro-health-check*

# build output
build/
*.tsbuildinfo

# testing
coverage/

# env
.env
.env.*
!.env.example

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# editor / os
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
Thumbs.db

